.navbar-custom {
  background-color: black;
  border-bottom: 1px solid white; 
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    /* height: 10px; */
    margin: 0;
    padding: 0;
}

/* format logo */
#logo{
  height: 120px;  
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}