.footer {
    min-height: 100px;
    background: black;
    color: white;
    position: relative;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    border-top: 1px solid white; 
  }

  